@import './_variables.scss';

.contact {
  padding-top: 3rem;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.contact-form {
  width: 100%;
  @media #{$medium-and-up} {
    width: 350px;
  }
  @media #{$small-and-down} {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;

  .amity__button {
    margin-left: auto;
  }
}

.contact-form__input {
  background-color: $light;
  height: 50px;
  width: 100%;
  color: $dark;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.contact__tail {
  margin-top: 5vh;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 15vh 100vw;
  border-color: transparent transparent $light-gray transparent;
}
