@import './_variables.scss';
@import './_media-queries.scss';

.features {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  
  @media #{$small-and-down} {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.feature {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 3rem;

    @media #{$medium-and-up} {
      margin-bottom: 8rem;
    }
  }

  @media #{$small-and-down} {
    flex-direction: column;
  }

  @media #{$medium-and-up} {
    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }
}

.feature-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2rem;

  @media #{$medium-and-up} {
    width: 40%;
  }
}

.feature-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100%;

  @media #{$medium-and-up} {
    width: 60%;
  }
}

.feature-info__title {
  color: $primary;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.feature-info__desc  {
  margin-top: 1rem;
  text-align: justify;
}
