@import './_variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  border-bottom: 1rem solid $primary;
}

.footer__message {
  font-style: italic;
}

.footer__git {
  margin-top: 1rem;
}
