@import './_variables.scss';

.navbar {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amity {
  color: $primary;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.nav__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin-right: 3rem;
}
