@import './_variables.scss';
@import './_media-queries.scss';

.navbar {
  padding-top: 2rem;
  width: 100%;
  background-color: $primary;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amity {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.amity__logo {
  width: 80px;
  height: auto;
}

.amity__text {
  color: $light;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.nav__link-container {
  @media #{$small-and-down} {
    display: none;
  }
}

.nav__link {
  color: $light;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;

  @media #{$medium-and-up} {
    margin-right: 1rem;
  }

  @media #{$large-and-up} {
    margin-right: 3rem;
  }
}

